Number: Store Numerical Information And Come in two forms

.integers :whole number

.floating point : number with a decimal

.strings:ordered sequence of characters

.lists:ordered sequence of objects(mutable)

.tuples:ordered sequence of objects(immutable)

.dicionary:key-value pairing that is unordered

What is the value of the expression 4 * (6 + 5)

In [2]:
4 * (6+5)

44

What is the value of the expression 4 * 6 + 5

In [3]:
4 * 6 + 5

29

What is the value of the expression 4 + 6 * 5

In [4]:
4 + 6 * 5

34

What is the type of the result of the expression 3 + 1.5 + 4?

In [5]:
3 + 1.5 + 4

8.5

What would you use to find a numberâ€™s square root, as well as its square?

In [6]:
#Square Root:
100 ** 0.5

10.0

In [7]:
#Square:
10 ** 2

100

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [8]:
s = "hello"

In [9]:
s[1]

'e'

In [10]:
s

'hello'

Reverse the string 'hello' using slicing:

In [11]:
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [13]:
s[4]

'o'

In [15]:
s[-1]

'o'

Lists

Build this list [0,0,0] two separate ways.

In [16]:
[0]*3

[0, 0, 0]

In [17]:
list2 = [0,0,0]
list2

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [30]:
list3 = [1,2,[3,4,'hello']]

In [35]:
list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort The list Below

In [37]:
list4 = [5,3,4,6,1]

In [38]:
sorted(list4)

[1, 3, 4, 5, 6]

Dictionaries

In [39]:
d = {'simple_key':'hello'}

In [41]:
d['simple_key']

'hello'

In [43]:
d = {'k1':{'k2':'hello'}}

In [45]:
d['k1']['k2']

'hello'

In [46]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [52]:
d['k1'][0]['nest_key'][1][0]

'hello'

In [53]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [60]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Tuples Are Immutable

How Do you Create A tuple ?

In [1]:
t = (1,2,3)

In [2]:
t

(1, 2, 3)

Sets

What is Unique About A set ?
Answer : They Dont Allow For Duplicate items!

In [4]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [5]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}

Booleans

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [6]:
2 > 3

False

In [7]:
3 <= 2

False

In [8]:
3 == 2.0

False

In [9]:
3.0 == 3

True

In [11]:
4 == 4

True

In [15]:
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [18]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False